:root {
  --whiteText: #fcfcfc;
  --blackText: #131313;
  --grayText: #ababab;
  --darkText: #7a7a7a;
  --yellowText: #f8d24e;
  --mainBG: #84a178;
  --whiteBG: #ffffff;
  --modalBG: #f5f5f5;
  --modalBG2: #fcfcfc;
  --ice-cream: #aec6a5;
  --ice-coffee: #efd478;
  --milkshakes: #d6936d;
  --tintIcecream: rgba(156, 190, 143, 0.7);
  --tintIcecoffee: rgba(248, 210, 78, 0.7);
  --tintMilkshake: rgba(213, 117, 63, 0.7);
  --formBG: rgba(248, 210, 78, 0.1);
  --modalGreen: #9cbe8f;
  --BTN: #f8d24e;
  --accentBTN: #0a8817;
  --disabledBTN: #ababab;

  --Gap: 16px;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
