.modal-form__title {
    font-size: 14px;
    font-weight: 400px;
    line-height: 1.7;
    text-align: center;
    color: var(--blackText);
}

.Ingradients {
    font-size: 20px;
    line-height: 1.4;
}

@media screen and (min-width:768px) {
    .modal-form__title {
        font-size: 20px;
        line-height: 1.4;
    }
}